*{
    margin: 0;
    padding: 0;
}
body{
    margin: 2vh 5vw;
}

#sideBar{
    display: none;
    position: absolute;
    right: 3vw;
    top: 7vh;
    background-color: white;
    height: 20vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 2vw;
    border: 1px solid gray;
}
.option{
    font-size: 12px;
    cursor: pointer;
}
.menuBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menuBtn{
    width: 28px;
    cursor: pointer;
}
#closeSideBar{
    width: 30px;
    position: relative;
}
#logo{
    width: 100px;
}

.btn{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
}

.taskHero{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.taskHero input{
    height: 28px;
    width: 100%;
    border: 0.5px solid;
    border-color: rgb(194, 194, 194);
    outline: none;
    border-radius: 6px;
    padding: 0 10px;
}

.taskSubmit{
    background-color:  rgb(74, 74, 235);
    border: none;
    color: white;
    padding: 0 20px;
    border-radius: 6px;
    letter-spacing: 0;
    height: 28px;
    cursor: pointer;
}

@media (min-width: 640px){
    body{
        margin: 20px 10vw;
    }
    #sideBar{
        right: 10vw;
        padding: 1vh 1vw;
    }
}

@media (min-width: 1028px){
    body{
        margin: 20px 26vw;
    }
    #logo{
        width: 160px;
    }
    #menuBtn{
        width: 36px;
    }
    #sideBar{
        right: 26vw;
        padding: 1vh 1vw;
    }
    .option{
        font-size: 16px;
    }
    .taskHero{
        margin-top: 8vh;
    }
    .taskHero{
        gap: 20px;
    }
    .taskHero input{
        height: 36px;
    }
    .taskSubmit{
        height: 36px;
        font-size: 18px;
    }
}